.Logo {
    width: 110px;
    height: auto;
}
#Logao {
  padding-top: 190px;
  width: 100%;

}

header {
    z-index: 1000; 
    position: fixed;
    width: 100%;
}

#Home {
  position: relative;
  padding: 40px 0;
}

#Home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('BG2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1); 
  z-index: -1; 
  opacity: 0.7;
}

#Textos-grid{
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (max-width: 992px) {
  #Logao {
    padding-top: 250px;
  }
}
@media (max-width: 768px){
  #Textos-grid h1 {
    font-size: 1.5rem; 
    text-align: center; 
  }

  #Textos-grid p {
    font-size: 0.9rem; 
    text-align: center; 
  }
  #Logao{
    display: none;
  }
}

#Textos-grid .col-md-12{
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

#valores {
    padding-top: 125px; 
    padding-bottom: 125px;
}

.card {
    height: 70vh; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    transition: transform 0.3s ease; 
  }

  .card:hover {
    transform: scale(1.03); 
  }

  img.card-img-top, img.card-img-bottom {
    height: auto;
    max-height: 40vh;
    object-fit: cover;
  }

@media (max-width: 992px) {
  .card {
    height: 40vh; 
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 50vh; 
    margin-bottom: 20px; 
  }
}

@media (max-width: 576px) {
  .card{
    height: 43vh;
  }
  .card .card-title {
    font-size: 1.5rem; 
  }

  .card .card-text {
    font-size: 1.5rem; 
  }
  .card .btn {
    padding: 6px 12px; 
    font-size: 0.9rem; 
  }
}


.carousel-inner img {
    width: 100%;
    height: 83vh;
    object-fit: cover;
}

#higiene {
  width:100%;
  object-fit: cover;
  object-position: 50% 30%;
}

